<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209656620172-vai3mo74m6frd4d31j251solskhcke0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209656620172-vai3mo74m6frd4d31j251solskhcke0c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>209656620172-sp32nqh454ds724ejhnkldoflajisjaq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqANOtaQvyPSaTx40gLRDDiUZ_V_El6jY</string>
	<key>GCM_SENDER_ID</key>
	<string>209656620172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.greep.pos.vendor</string>
	<key>PROJECT_ID</key>
	<string>greep-cb4ee</string>
	<key>STORAGE_BUCKET</key>
	<string>greep-cb4ee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209656620172:ios:bf816521976fd2190487a9</string>
</dict>
</plist>